<a href="https://colab.research.google.com/github/ruthmanik/Tugas-Algoritma/blob/main/2208541028_RUTH%20SANI%20MANIK_TUGAS_IV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5.11 While Loop
while loop adalah jika suatu kondisi itu bernilai true, maka perulangannya pun akan selalu dieksekusi dan jika bernilai false maka akan berhenti

In [15]:
#Tugas Pertemuan Senin, 27 Maret 2023


#Latihan while loop 1
i = 1
while i <= 5:
  print("Hallo Dunia!")
  i += 1
#maka akan dieksekusi dan mencetak "Hallo Dunia!" sebanyak 5

Hallo Dunia!
Hallo Dunia!
Hallo Dunia!
Hallo Dunia!
Hallo Dunia!

In [19]:
#latihan while loop 2

#Pertama menentukan variabel untuk menghitung, dan menentukan kapan perulangan berhenti
jawab = "ya"           
hitung = 0
#kalau menjawab tidak maka perulangan akan terhenti
while(True):
  hitung += 1
  jawab = input ("belajar lagi tidak? ")
  #selanjutnya menambah satu variabel "belajar" setiap kali mengulang, lalu menanyakan apakah mau berhenti belajarya atau tidak?
  if jawab == "tidak":
     break
print(f"total perulangan: {hitung}")
# setelah selesai  mengulang, cetak berapa kali perulangan tersebut terjadi

belajar lagi tidak? ya
belajar lagi tidak? ya
belajar lagi tidak? ya
belajar lagi tidak? ya
belajar lagi tidak? ya
belajar lagi tidak? ya
belajar lagi tidak? tidak
total perulangan: 7

In [20]:
#Latihan while loop 3

#pertama kita tentukan terlebih dahulu variabel
print("Bilangan Bulat 1 hingga x")
i =1;
x = int(input("Masukkan Bilangan Bulat x = "));
#kemudian dilakukan perulangan sampai nilai i kurang dari atau sama dengan bilang bulat yang ingin kita input
while i <= x:
    print(i);
    i=i+1;

Bilangan Bulat 1 hingga x
Masukkan Bilangan Bulat x = 6
1
2
3
4
5
6

# 5.12 List
List dapat disebut sebagai struktur atau urutan dan isinya dapat diubah

In [21]:
#Latihan list 1

#list mula-mula
EXO = ["sehun" , "chen" , "suho" , "do" , "kai"]
print(EXO)

['sehun', 'chen', 'suho', 'do', 'kai']

In [22]:
#kita mempunyai list seperti diatas 
#misalnya kita ingin mengambil sehun 
#maka indeksnya adalah 0 
print (EXO[0])

sehun

In [23]:
#selanjutnya misal kita ingin mengambil suho
#maka indeksnya adalah-3 
print(EXO[-3])

suho

In [24]:
#selanjutnya jika kita ingin menggati chen menjadi baekhyun 
EXO[1] ="baekhyun"
print(EXO)

['sehun', 'baekhyun', 'suho', 'do', 'kai']

In [25]:
#selanjutnya kita potong indeks [1:5]
print(EXO[1:5])

['baekhyun', 'suho', 'do', 'kai']

In [26]:
#tidak merubah list
print(EXO)

['sehun', 'baekhyun', 'suho', 'do', 'kai']

In [27]:
#Latihan list 2

#list dapat dilakukan terhadap beberapa operasi:
#yang pertama penggabungan (+)  
#beberapa list lagu 
list_lagu = [
    "promise, drop that,",
    "ran this"
]
#playlist lagu favorit
playlist_favorit = [
    "power", 
    "bird"
]
#mari kita gabungkan keduanya
semua_lagu = list_lagu + playlist_favorit
print(semua_lagu)

['promise, drop that,', 'ran this', 'power', 'bird']

In [28]:
#yang kedua perkalian (*)
#beberapa list lagu
playlist_favorit = [
    "power",
    "bird"
]
#selanjutnya kita ulangi srbanyak 5x
ulangi = 5
now_playing = playlist_favorit * ulangi
print(now_playing)

['power', 'bird', 'power', 'bird', 'power', 'bird', 'power', 'bird', 'power', 'bird']

In [29]:
#Latihan list 3

#membuat list untuk menenpung nama nama teman 
my_friends = ["Maria", "Mariam", "Dian", "Ayu", "Lira"]
#tampilkan isi list my_friends dengan indeks ke-3 
print("my_friends indeks ke-3 adalah: {}" .format(my_friends[3]))
#menampilkan semua daftar teman
#kita menggunakna fungsi len mengambil panjang list
print("semua teman: ada {} orang" .format(len(my_friends)))
for friend in my_friends:
    print(friend)

my_friends indeks ke-3 adalah: Ayu
semua teman: ada 5 orang
Maria
Mariam
Dian
Ayu
Lira

# 5.13 Metoda List
terdapat beberapa metoda atau fungsi yang dapat digunakan untuk menambahkan isi atau item ke list:

In [30]:
#Latihan metoda list 1

#metode yang pertama menggunakan append, dimana berfungsi menambahkan item dari belakang
#mula mula list
Hari = ["Senin" , "Selasa" , "Rabu"]
#tambahkan "kamis"
Hari.append("Kamis")
#hasilnya "kamis" akan ditambahkan setelah item terakhir
print(Hari)

['Senin', 'Selasa', 'Rabu', 'Kamis']

In [31]:
#metoda yang kedua menggunakan insert,untuk menambahkan item pada indeks tertentu
Hari.insert(0,"Minggu")
print(Hari)

['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis']

In [32]:
#metoda yang ketiga menggunakan remove untuk membuang item pada indeks tertentu
Hari.remove("Rabu")
print(Hari)

['Minggu', 'Senin', 'Selasa', 'Kamis']

In [33]:
#menentukan apakah bernilai true atau false
#akan bernilai false karena Jumat tidak ada pada list
print("Jumat" in Hari)

False

In [34]:
#akan bernilai true karena Senin ada pada list
print("Senin" in Hari)

True

In [35]:
#Latihan metode list 2

#pertama list
deret = [1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 11, 11, 11]
#kemudian kita menambahkan elemen list dengan menggunakan metode append
print("\nmenambahkan elemen list dengan append:")
deret.append(15)
deret.append(16)
deret.append(17)
deret.append(18)
deret.append(19)
deret.append(20)
print(deret)
#kemudian kita menambahkan elemen list dengan menggunakan metode insert
print("\nmenambahkan elemen list dengan insert:")
deret.insert(2, 35)
deret.insert(2, 36)
deret.insert(2, 37)
deret.insert(2, 38)
deret.insert(2, 39)
deret.insert(2, 30)
print(deret)
#kemudian kita membuang elemen list dengan menggunakan metode remove
print("\nmembuang elemen list dengan remove:")
deret.remove(35)
deret.remove(36)
deret.remove(37)
deret.remove(38)
deret.remove(39)
deret.remove(30)
print(deret)
#kemudian menentukan apakah bernilai true atau false
print("\n21 bernilai pada list:")
print("21" in deret)
print("\n100 bernilai pada list:")
print("100" in deret)

menambahkan elemen list dengan append:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 11, 11, 11, 15, 16, 17, 18, 19, 20]

menambahkan elemen list dengan insert:
[1, 2, 30, 39, 38, 37, 36, 35, 3, 4, 5, 6, 7, 8, 9, 100, 11, 11, 11, 15, 16, 17, 18, 19, 20]

membuang elemen list dengan remove:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 11, 11, 11, 15, 16, 17, 18, 19, 20]

21 bernilai pada list:
False

100 bernilai pada list:
False

# 5.14 For Loop
  for loop pada Python memiliki kemampuan untuk mengulangi item dari urutan apapun, seperti list atau string

In [36]:
#Latihan for loop 1 

#pertama list
angka = [1,2,3,4,5]
for x in angka:
  print(x)

1
2
3
4
5

In [37]:
#Latihan for loop 2

#membuat list buah
buah = ["anggur" , "apel" , "rambutan" , "semangka"]
for jenis in buah:
    print(jenis)

anggur
apel
rambutan
semangka

In [38]:
i = 0
while i < len(buah):
    print(buah[i])
    i+=1

anggur
apel
rambutan
semangka

In [39]:
#Latihan for loop 3
makanan = ["soto" , "bakso" , "gado-gado" , "ayam goreng" , "rawon"]
for jenis in makanan:
    print("saya suka makan" , jenis)

saya suka makan soto
saya suka makan bakso
saya suka makan gado-gado
saya suka makan ayam goreng
saya suka makan rawon

In [40]:
#sama seperti list diatas hanya menambahkan nomor disetiap makanan
makanan = ["soto" , "bakso" , "gado-gado" , "ayam goreng" , "rawon"]
for i, jenis in enumerate (makanan):
    print(i , jenis)

0 soto
1 bakso
2 gado-gado
3 ayam goreng
4 rawon

# 5.15 Fungsi Range
fungsi range merupakan fungsi yang menghasilkan list. Fungsi ini akan menciptakan sebuah list baru dengan rentang nilai tertentu

In [41]:
#Latihan fungsi range 1

#masukkan data
angka = range(5)
print(angka)

range(0, 5)

In [42]:
for isi in angka:
     print(isi)

0
1
2
3
4

In [43]:
#Latihan fungsi range 2
for isi in range(3,9):
     print(isi)

3
4
5
6
7
8

In [44]:
#akan menunjukkan kelipatan 2
for isi in range(0,12,2):
     print(isi)

0
2
4
6
8
10

In [45]:
#Latihan fungsi range 3
for nomer in range (10):
    print("anak-" + str(nomer))

anak-0
anak-1
anak-2
anak-3
anak-4
anak-5
anak-6
anak-7
anak-8
anak-9

In [46]:
huruf = ["A" , "B" , "C" , "D" , "E"]
for i in range(len(huruf)):
     print(i, huruf[i])

0 A
1 B
2 C
3 D
4 E

In [47]:
#Latihan fungsi range 4

# saat inputnya satu, range(X)
# artinya dari 0 hingga X
print(range(15))

# saat inputnya dua, range(X, Y)
# artinya dari X hingga Y
print(range(1, 15))
print(range(3, 15))

# saat inputnya tiga, range(X, Y, Z)
# artinya dari X hingga Y dengan penambahan sebanyak Z
print(range(1, 15, 2))
print(range(1, 15, 3))

range(0, 15)
range(1, 15)
range(3, 15)
range(1, 15, 2)
range(1, 15, 3)