In [ ]:
#fungsi print digunakan untuk menampilkan output program
print('saya suka ikan')

saya suka ikan

In [ ]:
#masukkan terlebih dahulu nama datanya
mahasiswa_28 = 42
#masukkan lagi nama datanya
uang_di_dompet_28 = 50000
#dan kemudian kita print data yang ingin kita input
print (mahasiswa_28)

42

In [1]:
#lower berfungsi untuk mengubah alfabet pada sebuah kata atau kalimat menjadi huruf kecil
print (" SAYA SEDANG MEMBUAT TUGAS ALGORITMA".lower())
#upper berfungsi untuk mengubah alfabet pada sebuah kata atau kalimat menjadi huruf besar
print (" saya sedang membuat tugas algoritma".upper())

 saya sedang membuat tugas algoritma
 SAYA SEDANG MEMBUAT TUGAS ALGORITMA

In [ ]:
#kode ini digunakan untuk menginput nama unser 
nama_depan = input ( " ")
nama_tengah = input (" ")
nama_belakang = input (" ")
print (nama_depan + nama_tengah + nama_belakang)

 ruth
 sani
 manik
ruthsanimanik

In [ ]:
#sama seperti contoh diatas kita masukkan terlebih dahulu nama datanya
panjang = 20
#masukkan lagi nama datanya
lebar = 10
#kita ingin menginput luas, maka kita buat rumus dari luas
luas = panjang * lebar
#kemudian kita print
print (luas)

200

In [ ]:
dompet = int (input ("Uang di dompet saya adalah "))
tabungan = int (input ("Uang tabungan saya di bank adalah "))
total = int(dompet) + int (tabungan)
print("Total uang saya adalah " + str(total))

Uang di dompet saya adalah 135000
Uang tabungan saya di bank adalah 500000
Total uang saya adalah 635000

In [ ]:
#Menginput Angka
angka = float(input(" Tulis Sebuah Angka: "))

#Menampilkan Kondisi Angka Positif
if angka > 0:
   print("Angka Positif")

#Menampilkan Kondisi Angka Nol
elif angka == 0:
  print(" Angka Nol ")
  
#Menampilkan Kondisi Angka Negatif
if angka < 0:
   print ("Angka Negatif")

 Tulis Sebuah Angka: 5
Angka Positif

In [2]:
#kita masukkan nama datanya
angka = (1,2,4,8,10)
#perulangan for untuk mengulangi item dari urutan apapun
for x in angka :
    print (x)

1
2
4
8
10

In [4]:
#menginput kalimat
kalimat = input ("semoga harimu menyenangkan:")
#split berfungsi untuk memecah sebuah kalimat menjadi kata-kata
kata = kalimat.split()
#sort berfungsi untuk mengurutkan kata-kata tadi sesuai dengan abjad
kata.sort()
print("berikut urutan kata-kata:")
#seperti contoh yang diatas perulangan for
for urut in kata :
   print (urut)

semoga harimu menyenangkan:semoga harimu menyenangkan
berikut urutan kata-kata:
harimu
menyenangkan
semoga

In [8]:
#float adalah tipe data yang berfungsi menampung bilangan desimal atau pecahan 
data2 = 4.5
float (data2)

4.5

In [6]:
#menginput nilai variabel
x = input ("tuliskan nilai x:")
y = input ("tuliskan nilai y:")
#membuat variabel tukar dan menukar nilai variabel lain
tukar = x
x = y
y = tukar
#menampilkan nilai variabel setelah ditukar
print("nilai x setelah ditukar adalah: {}".format(x))
print("nilai y setelah ditukar adalah: {}".format(y))

tuliskan nilai x:5
tuliskan nilai y:10
nilai x setelah ditukar adalah: 10
nilai y setelah ditukar adalah: 5